.menu__icon{
    z-index: 5;
    display: block;
    position: relative;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
}

.menu__icon::before,
.menu__icon::after{
    content: "";
}

.menu__icon::before{
    top: 0;
}

.menu__icon::after{
    bottom: 0;
}

.menu__icon span{
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.header__menu__menu._active{
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}

.menu__body{
    position: fixed;
    top: 0;
    right: -200%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 0 0 0;
    
    overflow: auto;
}

@keyframes burger {
    from {left: -200%;}
    to {left: 0;}
}

.menu__body._active {
    animation: burger 0.5s ease 0s ;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}



.link {
    font-size: 10vw;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 5vw;
    
    &:hover {
        animation-duration: 0.3s;
        color: red;
        font-weight: 800;
    }
}

@media (min-width: 700px) {
    .link{
        font-size: 50px;
        font-weight: 600;
    }
    .menu__body._active{
        align-items: flex-end;
    }
    .menu__icon{
        right: 32px;
    }
}