@import '../../shared/Typography/colors.scss';

.volunteers-section{

}

.volunteer-img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.all-volunteers{
}

.title-volunteers{
    font-size: 3vw;
    margin: 20px 0;
}

.volunteers-job-title{
    font-size: 2vw;
    font-weight: 500;
}

@keyframes autoRotate {
    from {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    to {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
  
  .volunteer-obj {
    width: 100px;
    border-radius: 10px;
    margin: 20px;
    border: 2px solid $tertiary;
    background-position: 80%;
    animation: autoRotate 10s linear infinite;
  
    &:hover {
        animation: none; 
        transform: rotate3d(1, 1, 1, 0deg); 
        transition: transform 0.5s;
    }
}
@media (min-width: 500px) {
    .volunteer-obj{
        width: 150px;
        border-radius: 15px;
        margin: 30px;
    }
}

@media (min-width: 700px) {
    .volunteer-obj{
        width: 200px;
        border-radius: 20px;
        margin: 40px;

    }
}