.donation-page{
    max-width: 100vw;
    margin-top: 10px;
}

.donation-inputs{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .donation-inputs-element{
        margin: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.my-paypal-buttons{
    position: relative;
    z-index: 1;
}