@import '../../shared/Typography/colors.scss';

.title{
    background-color: $primary;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0 ;
    border: 4px solid $white;
    border-radius: 10px;
}

.contacs{
    background-color: $primary;

    display: grid;
    grid-template-columns: 1fr; /* Two equal-width columns */
    gap: 20px;
}

.contact-section{
    color: #fff;
    font-weight: 700;
    margin-bottom: 3vw;
    font-size: 30px;
    color: $tertiary;
}

.wrapper-contact{
    margin-bottom: 5vw;
}

.underline-contacts{
    color: $white;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 5vw;
    text-decoration-line: underline;
}

.footer-contacts{
    padding: 5vw 0;
    background: $flag;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.offert{
    font-size: 15px;
    text-align: center;
    color: $white;
}

@media (min-width: 700px) {
    .title{
        background-color: $primary;
        font-size: 35px;
        font-weight: 700;
        padding: 20px 0 ;
    }
    .contacs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
    }
    .contact-section{
        font-weight: 500;
        margin: 10px 0;
        font-size: 2vw;
    }
    .underline-contacts{
        font-weight: 500;
        font-size: 2vw;
    }
    .contacs.wrapper-page{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .wrapper-contact img{
        width: 50px;
        height: 50px;
    }
    .wrapper-contact{
        margin-bottom: 0px;
        margin-top: 5px;

    }
    .block-contacts{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .underline{
        font-weight: normal;
        font-size: 2vw;
    }
    .footer-contacts{
        margin: 0px;
        padding: 10px 0;
    }
}