@import '../../shared/Typography/colors.scss';

.partners-section{

}

.partners-img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
}

.all-partners{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title-partners{
    font-size: 3vw;
    margin: 20px 0;
}

.partners-job-title{
    font-size: 2vw;
    font-weight: 500;
}