@import '../../../../../shared/Typography/colors.scss';
@function tint-color($base-color, $percentage) {
    // Your tinting logic here
    @return mix(white, $base-color, $percentage);
}

.wrapper-element{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw;
    margin-bottom: 5vw;
    font-size: 4vw;
}
.circle{
    width: 10vw;
    height: 10vw;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 4vw;
    font-weight: 700;
    margin-left: 3vw;
    gap: 3vw;
}

.circle.tint0{
    background-color: tint-color($success, 0%);
}
.circle.tint10{
    background-color: tint-color($success, 10%);
}
.circle.tint20{
    background-color: tint-color($success, 20%);
}
.circle.tint30{
    background-color: tint-color($success, 30%);
}
.circle.tint40{
    background-color: tint-color($success, 40%);
}
.circle.tint50{
    background-color: tint-color($success, 50%);
}

@media (min-width: 700px) {
    .assistance-item-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        gap: 10px;
    }
    .TranlatedTextInSpan{
        font-size: 20px;
    }
    .circle.tint0,
    .circle.tint10,
    .circle.tint20,
    .circle.tint30,
    .circle.tint40,
    .circle.tint50{
        font-size: 30px;
        width: 90px;
        height: 90px;
    }
    .wrapper-element{
        gap: 10px;
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
}