$primary: #3366ff;
$secondary: #dadce0;
$tertiary: #000080;
$warning: #eeee22;
$success: #7fb432;
$quaternary: #7965af;
$quinary: rgb(208,188,155);
$white: #fff;
$black: #000;
$flag:  linear-gradient(to bottom, #3498db, #f1c40f);