@import 'colors';

.yellow{
    background-color: $warning;
}

.h2{
    font-size: 54px;
    line-height: 64px;
    font-weight: 400;
    letter-spacing: 0px;
    //font-family: "DM Serif Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.black-h2-span{
    font-size: 9vw;
    line-height: 15vw;
    font-weight: 700;
    letter-spacing: 0px;
    display: inline;
}

.blue-h2-span{
    font-size: 9vw;
    line-height: 15vw;
    font-weight: 700;
    letter-spacing: 0px;
    display: inline;
    color: $primary ;
}

.wrapper-title{
    margin-bottom: 5vw;
}

.second-title.primary{
    font-size: 6vw;
    color:$tertiary;
    font-weight: 400;
} 

.second-title.secondary{
    font-size: 3vw;
    color: $secondary;
    font-weight: 400;
}



.wrapper-third-title-primary{
    font-size: 6vw;
    color:$tertiary;
    font-weight: 700;
    margin-bottom: 5vw;
    margin-left: 5vw;
    text-align: left;
}

.wrapper-third-title-secondary{
    font-size: 6vw;
    color: $primary;
    font-weight: 700;
    margin-left: 5vw;
    text-align: left;
}

.wrapper-third-title-third{
    font-size: 6vw;
    font-weight: 700;
    margin-left: 5vw;
    text-align: left;
}

