@import'../Typography/colors.scss';
@import'../Typography/fonts.scss';


.button{
    display: inline-table;
    border: 1px solid $quaternary;
    padding: 10px 35px;
    border-radius: 50px;
    color: $white;
    background-color: $quaternary;
    margin: 20px 0;
    text-decoration: none;
    font-size: $text;
    @media (hover: hover) and (pointer: fine) {
        &:hover{
            color: $quaternary;
            background-color: $white;
            border: 1px solid $quaternary;
        }
    }
}

@media (min-width: 700px) {
    .button{
        padding: 15px 40px;
        margin: 20px 0px;
        font-size: $mini-text;
    }
}