
@import '../../../../../shared/Typography/fonts';

.primary-text-tranlated-text-section{
    text-align: left;
    margin: 0 0 3vw 5vw;
    font-family: $primary-fonts;
    font-size: $text;

}

.secondary-text-tranlated-text-section{
    text-align: left;
    margin: 0 0 5vw 5vw;
    font-family: $primary-fonts;
    font-size: 3.5vw;
}